accounts:
- name:
  accesstoken: 
  name: gof
  instanceurl: https://yourinstance.nice
  feeds:
  - url: https://yourfeed.com
    template: '{{.Title}} {{.URL}}'
    summary: true
- name:
  accesstoken:
  name: gof
  instanceurl: https://splat.soy
  feeds:
  - url: https://your.otherfeed.net
    template: |-
      {{.Title}}

      {{.URL}}
    summary: false
