accounts:
- name: instance.nice
  accesstoken: 
  instanceurl: https://yourinstance.nice
  feeds:
  - url: https://yourfeed.com
    template: '{{.Title}} {{.URL}}'
    summary: true
- name: freeradical.zone
  accesstoken:
  instanceurl: https://freeradical.zone
  feeds:
  - url: https://your.otherfeed.net
    template: |-
      {{.Title}}

      {{.URL}}
    format: plain
    summary: false
